@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;1,100&family=Roboto:ital,wght@0,300;0,400;0,500;1,100;1,500&display=swap');
/*Her stoppet vi i forelesningen*/
/**/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header nav a {
    color: #000;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
}

nav {
    overflow: auto;
    background-color: #d2dfe1;
    padding: 2rem;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

}

.nav-menu {
    display: flex;
    gap: 2rem;
}

.nav-menu li {
    list-style: none;
}

@media only screen and (min-width: 600px) {


    #front-page-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        /grid-template-areas:
                "header header header"
                "main main aside"
                "footer footer footer";
        grid-row-gap: 1rem;

    }

    header {
        /*grid-area: 1/1/2/4;*/
        grid-area: header;
    }

    main {
/*        grid-row: 2/3;*/
/*        grid-column: 1/3;*/
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        grid-template-areas: "1 2 3";
        justify-content: space-around;
        grid-area: main;
    }

    aside {
        background-color: #d9d9d9;
        /*grid-row: 2/3;*/
        /*grid-column: 3/4;*/
        grid-area: aside;
    }

    footer {
        /*grid-row: 3/4;*/
        /*grid-column: 1/4;*/
        background-color: antiquewhite;
        grid-area: footer;
    }

    aside li {
        list-style: none;
    }
}

#front-page-container {
    display: grid;
    grid-template-areas:
            "header"
            "main"
            "aside"
            "footer";
    grid-template-columns: 1fr;
}
header  {
    grid-area: header;
}
main    {
    grid-area: main;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
}
main article {
    background-color: whitesmoke;
    border: 1px solid white;
    padding: 1rem;
    flex-basis: 250px;
    flex-grow: 1;
    gap: 1rem;
}
/*la til bredcrumbs og fjernet default CSSS på ul elementet med id breadcrumbs*/
#breadcrumbs {
    padding: 0;
    margin: 0;
}


#breadcrumbs li::after {
    content: ">";
    margin: 0 0.2rem;
}

#breadcrumbs li:last-child:after {
    content: "";
    margin: 0 0.2rem;
}

#breadcrumbs li:last-child {
    font-weight: 900;;
}

/*legge til en active-page id på meny punktet som er landingssiden*/

#active {

}

/*for å få det under til å funke så må du sette en klasse som du kaller "button" på <a> som ligger i artikklene*/
.button {
    display: inline-block;
    padding: 0.5rem;
    background-color: #d2dfe1;
    text-decoration: none;
    color: #000;
}

.button:hover {
    background-color: #2f2f2f;
    color: #fff;
}

.button:active {
    display: inline-block;
    padding: 0.5rem;
    background-color: #a53f55;
    text-decoration: none;
    color: #fff;
}

article img {
    /*Det er ikke optimalt å gjøre et mindre bilde større på denne måten, men dette er ment til øving så det er greit!*/
    width: 100%;
}




