main section {
    display: flex;
    flex-wrap: wrap;
}

main sectionh2 {
}

main section img {
    float: right;
    height: 300px;
    padding-left: 2rem;
}
.data-bilde    {
    padding-left: 3rem;
    padding-bottom: 2rem;
    width: 454px;
}

.main-text {
    width: 50%;
}